---
import { getAllPages } from '@/utils'

const allPages = getAllPages()

const { pathname } = new URL(Astro.request.url)
const [, activeAnnal] = pathname.split('/')

const currentAnnalPages = allPages.filter(page => {
  return page.url?.startsWith(`/${activeAnnal}/`)
})

const activeIndex = currentAnnalPages.findIndex(page => page.url === decodeURIComponent(pathname))

const prev = currentAnnalPages[activeIndex - 1]
const next = currentAnnalPages[activeIndex + 1]

---

<div
  class="h-3 bg-repeat-x bg-top bg-contain border-l border-r border-zinc-400"
  style={{
    backgroundImage: 'url("/assets/img/stripe.png")',
    borderColor: '#e5e5e5',
  }}
/>

<div class="flex py-8 font-kxzd">
  {prev && (
    <a
      href={prev.url}
      class="shrink-0 min-w-24"
    >
      <div class="text-xs lg:text-sm text-zinc-400">上一章</div>
      <div class="lg:text-xl text-zinc-700 hover:text-zinc-900">
        {prev.title}
      </div>
    </a>
  )}
  <div class="grow" />
  {next && (
    <a
      href={next.url}
      class="shrink-0 min-w-24 text-right"
    >
      <div class="text-xs lg:text-sm text-zinc-400">下一章</div>
      <div class="lg:text-xl text-zinc-700 hover:text-zinc-900">
        {next.title}
      </div>
    </a>
  )}
</div>
